/*
 * Admin Interface
 */

.adminTitle {
    text-align: center;
}

.buttonsMargin {
    margin-top: 20px;
}

#teaser {
    width: 90%;
}

.select2-input {
    min-width: 50px;
}

/*
 * Blog Overview Site
 */

h1.title {
    font-size: 50px;
    margin: 40px 0px;
}
h1.title a {
    text-decoration: none;
    color: black;
}
h2.postTitle a, p a {
    text-decoration: none;
    color: #04527D;
}
h2.postTitle a:hover, p a:hover  {
    text-decoration: none;
    color: #013F60;
}

.addNewEntryButton {
    float: right;
}

.tagLabel {
    font-size: 12px;
}

/* Hide tags when on phone */
@media (max-width: 480px) { 
    #tagContainer {
        display: none;
    }
}